.eventCardRoot {
    height: 150px;
    display: flex;
    flex-direction: column;
    margin: 10px 5px 10px 5px;
    border-radius: 3px;
    border-top: 4px solid #272c34;
    color: #272c34;
}
.MainSegment {
    display: flex;
    flex: 1;
    padding: 5px 10px;
    box-sizing: border-box;
    flex-direction: row;
}
.tags {
    display: flex;
    flex-direction: row;
}
.tagChip {
    margin-right: 5px;
}
.eventDetails {
    flex: 1;
}
.eventImage {
    height: 100px;
    width: 100px;
    border: 2px solid #272c34;
    border-radius: 5px;
}
.eventDetail {
    color: #736b6b;
}